@model Product
@{
    var categories = ViewData["Categories"];

    if (Context.Request.RouteValues.ContainsKey("id"))
        ViewData["Subtitle"] = "Atualizar Produto";
    else
        ViewData["Subtitle"] = "Criar Produto";
}

<h1 class="text-primary">@ViewData["Subtitle"]</h1>
<hr>

<form asp-action="Create" class="row mt-5">
    <input type="hidden" asp-for="@Model.ProductId">
    <div class="form-group col-sm-8 col-lg-8">
        <label asp-for="@Model.Name">Nome:</label><br>
        <input asp-for="@Model.Name" class="form-control" autofocus>
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
    <div class="w-100">
        <div class="form-group col-sm-8 col-lg-8">
            <label asp-for="@Model.CategoryId">Categoria:</label><br>
            <select asp-for="@Model.CategoryId" class="form-control"
                    asp-items="@(IEnumerable<SelectListItem>)categories"></select>
            <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-4 col-lg-4">
            <label asp-for="@Model.Stock">Stock:</label><br>
            <input asp-for="@Model.Stock" class="form-control">
            <span asp-validation-for="@Model.Stock" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-4 col-lg-4">
            <label asp-for="@Model.Price">Preço:</label><br>
            <input asp-for="@Model.Price" class="form-control">
            <span asp-validation-for="@Model.Price" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group col-sm-8 col-lg-8 mt-3">
        <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div>
</form>