@model Category
@{
    if (Context.Request.RouteValues.ContainsKey("id"))
        ViewBag.Subtitle = "Atualizar Categoria";
    else
        ViewBag.Subtitle = "Criar Categoria";
}

<h1 class="text-primary">@ViewBag.Subtitle</h1>
<hr>

<form asp-action="Create" class="row">
    <input type="hidden" asp-for="@Model.CategoryId">
    <div class="form-group col-sm-8 col-lg-4">
        <label asp-for="@Model.Name">Nome:</label><br>
        <input asp-for="@Model.Name" class="form-control" autofocus>
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
    <div class="form-group col-sm-8 col-lg-4 mt-3">
        <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div>
</form>