@model Address
@{
    var client = ViewData["Client"] as Client;

    if (Context.Request.RouteValues.ContainsKey("eid"))
        ViewData["Subtitle"] = $"Atualização do Endereço de <b>{client.Name}</b>";
    else
        ViewData["Subtitle"] = $"Registo de Endereço de <b>{client.Name}</b>";
}

<h1 class="text-primary">@Html.Raw(ViewData["Subtitle"].ToString())</h1>
<hr>

<form asp-action="Create" class="row mt-5">
    <input type="hidden" asp-for="@Model.AddressId">
    <input type="hidden" value="@client.UserId" name="UserId" id="UserId">

    <div class="w-100"></div>
    <div class="form-group col-sm-7 col-lg-7">
        <label asp-for="@Model.Street" class="control-label">Rua</label>
        <input asp-for="@Model.Street" class="form-control" />
        <span asp-validation-for="@Model.Street" class="text-danger"></span>
    </div>

    <div class="form-group col-sm-2 col-lg-2">
        <label asp-for="@Model.Number" class="control-label">Nº</label>
        <input asp-for="@Model.Number" class="form-control" />
        <span asp-validation-for="@Model.Number" class="text-danger"></span>
    </div>

    <div class="form-group col-sm-3 col-lg-3">
        <label asp-for="@Model.PostalCode" class="control-label">Codigo Postal</label>
        <input asp-for="@Model.PostalCode" class="form-control" />
        <span asp-validation-for="@Model.PostalCode" class="text-danger"></span>
    </div>

    <div class="w-100"></div>
    <div class="form-group col-sm-6 col-lg-6">
        <label asp-for="@Model.City" class="control-label">Cidade</label>
        <input asp-for="@Model.City" class="form-control" />
        <span asp-validation-for="@Model.City" class="text-danger"></span>
    </div>

    <div class="form-group col-sm-6 col-lg-6">
        <label asp-for="@Model.Country" class="control-label">País</label>
        <input asp-for="@Model.Country" class="form-control" />
        <span asp-validation-for="@Model.Country" class="text-danger"></span>
    </div>

    <div class="w-100"></div>
    <div class="form-check col-4 p-3">
        <input asp-for="@Model.Selected" type="checkbox">
        <label asp-for="@Model.Selected">Tornar endereço padrão</label><br>
        <span asp-validation-for="@Model.Selected" class="text-danger"></span>
    </div>
    <div class="w-100"></div>
    <div class="form-group col-sm-8 col-lg-8 mt-3">
        <a asp-action="Index" asp-route-cid="@client.UserId" class="btn btn-outline-secondary">Cancelar</a>
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div>
</form>