@model IEnumerable<Client>
@{
    ViewData["Subtitle"] = "Clientes";
}

<header class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="text-primary">@ViewData["Subtitle"]</h1>
    </div>
    <div>
        <a asp-action="Create" class="btn btn-primary">Novo Cliente</a>
    </div>
</header>
<hr>

<partial name="_Message"></partial>

@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>NIF</th>
                <th>E-mail</th>
                <th>Telemovel</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model)
            {
                <tr>
                    <td>@client.Name</td>
                    <td>@client.Age</td>
                    <td>@client.NIF</td>
                    <td>@client.Email</td>
                    <td>@client.Phone</td>
                    <td>
                        <a asp-action="Index" asp-controller="Address" asp-route-cid="@client.UserId" class="btn btn-sm btn-secondary">Endereços</a>
                        <a asp-action="Create" asp-route-id="@client.UserId" class="btn btn-sm btn-secondary">Atualizar</a>
                        <a asp-action="Delete" asp-route-id="@client.UserId" class="btn btn-sm btn-danger">Apagar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhum cliente registado.</p>
}